<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kshitijmittal.expense">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_cash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_cash"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CategoryActivity"
            android:theme="@style/AppThemeCategory">
        </activity>

        <activity android:name=".AddAmount"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppThemeCategory">
        </activity>

    </application>

</manifest>